<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Gate</title>
		<style>
				#wrapper
				{
					margin-top: 45vh;
				}
				#form
				{
					text-align: center;
				}
		</style>
	</head>
	<body>
		{% if true %}{# if we are in password mode #}
		<div id="wrapper">
			<form id="form" method="post" name="access" action="/"> {# the url doesn't matter #}
				<label>Password: </label><br>
				<input type="text" name="password">
			</form>
		</div>
		{% endif %}
	</body>
</html>